.bgblue {
  background: #007bff; }

.bgindigo {
  background: #6610f2; }

.bgpurple {
  background: #6f42c1; }

.bgpink {
  background: #e83e8c; }

.bgred {
  background: #dc3545; }

.bgorange {
  background: #fd7e14; }

.bgyellow {
  background: #ffc107; }

.bggreen {
  background: #28a745; }

.bgteal {
  background: #20c997; }

.bgcyan {
  background: #17a2b8; }

.bgwhite {
  background: #fff; }

.bggray {
  background: #6c757d; }

.bggray-dark {
  background: #343a40; }

.bgprimary {
  background: #007bff; }

.bgsecondary {
  background: #6c757d; }

.bgsuccess {
  background: #28a745; }

.bginfo {
  background: #17a2b8; }

.bgwarning {
  background: #ffc107; }

.bgdanger {
  background: #dc3545; }

.bglight {
  background: #f8f9fa; }

.bgdark {
  background: #343a40; }

.cblue {
  color: #007bff; }

.cindigo {
  color: #6610f2; }

.cpurple {
  color: #6f42c1; }

.cpink {
  color: #e83e8c; }

.cred {
  color: #dc3545; }

.corange {
  color: #fd7e14; }

.cyellow {
  color: #ffc107; }

.cgreen {
  color: #28a745; }

.cteal {
  color: #20c997; }

.ccyan {
  color: #17a2b8; }

.cwhite {
  color: #fff; }

.cgray {
  color: #6c757d; }

.cgray-dark {
  color: #343a40; }

.cprimary {
  color: #007bff; }

.csecondary {
  color: #6c757d; }

.csuccess {
  color: #28a745; }

.cinfo {
  color: #17a2b8; }

.cwarning {
  color: #ffc107; }

.cdanger {
  color: #dc3545; }

.clight {
  color: #f8f9fa; }

.cdark {
  color: #343a40; }

* {
  margin: 0;
  padding: 0; }

.bienvenida {
  background: url(/imagen/m4.gif);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center; }

.arina {
  width: 50vh;
  height: 50vh;
  border-radius: 100%;
  margin-left: 30vh; }

.frase {
  text-align: left;
  width: 40%;
  border-style: dashed;
  border-bottom: none;
  margin-left: 20vh;
  font-weight: normal;
  padding: 15px;
  border-color: #fbfbfb; }

.menu {
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: -70vh;
  margin-left: 5vh;
  position: fixed;
  z-index: 1; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.opciones {
  display: flex;
  background: #254f97;
  padding: 1.4vh;
  font-size: 24.5px;
  align-items: center;
  justify-content: center;
  align-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }
  .opciones a {
    margin-inline: 0.5vh;
    transition: 0.2s;
    padding: 12px; }
  .opciones a:hover {
    color: #fad13d;
    background: #fbfbfb;
    text-decoration: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }

.logo {
  background: #fad13d;
  padding: 1vh;
  font-size: 35px;
  font-weight: normal;
  font-family: 'Noto Serif', serif; }
  .logo a:hover {
    text-decoration: none; }
  .logo a {
    color: #fff; }

.col1 {
  height: 8vh;
  width: 2vh;
  margin-inline: 0.5vh;
  margin-top: -5px;
  background: #254f97;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }

.col2 {
  height: 8vh;
  width: 2vh;
  margin-inline: 0.5vh;
  margin-top: -5px;
  background: #fad13d; }

#horario {
  background: url(/imagen/m6.jpg);
  height: 100vh;
  background-size: cover; }

.subt {
  color: #fbfbfb;
  border-color: #fbfbfb;
  border-style: dashed;
  border-top: none;
  width: 50%;
  font-family: 'Noto Serif', serif;
  border-width: 2vh; }

.lateral {
  float: right;
  width: 45%;
  height: 100vh;
  text-align: center;
  background: url(/imagen/lateral3.png);
  display: flex;
  flex-direction: column;
  align-items: center; }

.li1 {
  font: 2.5rem sans-serif;
  color: #fad13d;
  margin-top: 10vh;
  text-align: center; }

.li2 {
  color: #fbfbfb;
  font: 2rem sans-serif;
  margin-top: 3vh;
  text-align: center; }

.line1,
.linea2 {
  height: 3vh;
  background: #254f97; }

.linea4 {
  background: #254f97;
  height: 8vh;
  width: 2vh;
  margin-inline: 0.5vh;
  height: 50vh;
  margin-left: -1px; }

.p1 {
  background: url(/imagen/m7.jpg);
  width: 100%;
  height: 50vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; }

.articulo {
  color: #fff;
  font: 2.5rem sans-serif;
  width: 50%;
  margin-left: 3vh;
  margin-right: 10vh; }

.linea3 {
  background: #fbfbfb;
  height: 8vh;
  width: 2vh;
  margin-inline: 0.5vh;
  height: 19vh;
  margin-left: 5vh; }

.m {
  font-family: 'Noto Serif', serif;
  color: #fad13d;
  margin-right: 2vh; }

.menuo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

.menuu {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 0; }

.icono1 {
  height: 50px;
  width: 50px; }

.b {
  border-style: solid; }

.mt {
  margin-top: 20vh; }

.desayuno {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 50px;
  justify-content: center;
  overflow: scroll; }

.i1 {
  border-radius: 5% 5% 0% 0%;
  width: 300px;
  height: 300px; }

.descripcion {
  background: #fad13d;
  padding: 10px; }

.bajo {
  border-style: dashed;
  border-top: none;
  border-left: none;
  border-right: none; }

.bgoro {
  background: #fad13d; }

.prin {
  height: 100vh;
  display: flex;
  align-items: center;
  background: url(/imagen/m10.png);
  background-repeat: no-repeat;
  background-size: cover; }

.subt2 {
  font-family: 'Noto Serif', serif;
  color: white;
  float: right; }

*::selection {
  background: #fad13d;
  color: #254f97; }

.lredes {
  margin-right: 100px;
  width: 100%;
  height: 100vh;
  position: absolute; }

.lsocial {
  background: #fad13d;
  height: 98vh;
  padding: 0.6vh;
  width: 0.1vh;
  height: 100vh;
  float: right;
  margin-right: 3em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center; }

.lsocial3 {
  background: #254f97;
  padding: 0.6vh;
  width: 0.1vh;
  height: 100vh;
  float: right;
  margin-right: 3em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 113.6vh; }

.tri {
  background: url(/imagen/ic.png);
  width: 94px;
  height: 94px;
  margin-left: -47px;
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.ic {
  color: #fad13d; }

.f1 {
  position: fixed;
  top: 8.8em; }

.f2 {
  position: fixed;
  top: 12.5em; }

.f3 {
  position: fixed;
  top: 16.1em; }

.ti {
  font-family: 'Noto Serif', serif;
  color: #fad13d;
  width: 190vh;
  position: absolute;
  text-align: right;
  padding-right: 6vh; }

.d {
  display: flex;
  flex-direction: column; }

.mtt {
  margin-top: -265px; }

.cartas {
  width: 85%; }

.seccion {
  border-radius: 5%;
  background: #f8f9fa;
  padding: 25px;
  position: fixed;
  right: 20vh;
  top: 16vh; }

.rapido {
  font-size: 17px;
  transition: 0.1s; }

.rapido:hover {
  scale: 0.9; }

.imagen {
  width: 200px;
  height: 200px;
  border-style: solid;
  position: absolute;
  transition: 0.3s; }

.imagen:hover {
  margin-left: 10px;
  margin-top: 7px; }

.rec {
  display: grid;
  grid-template-columns: repeat(4, 230px); }

.paga {
  margin-top: 10vh;
  margin-left: 2vh; }

.vacio {
  border-style: solid;
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-top: 7px;
  background: #fad13d; }

.recetas {
  background: url(/imagen/m13.png);
  background-size: cover; }

.cursor {
  cursor: pointer; }

.registrar {
  height: 100vh;
  border-style: solid;
  border-top-color: #254f97;
  border-left: none;
  border-right: none;
  border-bottom-color: #fad13d;
  border-width: 25px;
  background: #254f97; }

.reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  background: #f8f9fa;
  border-radius: 5%;
  padding: 25px;
  margin-top: 10vh;
  margin-left: 25px; }

.ta {
  text-align: center; }

.titulo {
  font-family: 'Noto Serif', serif; }

.ma {
  margin: auto; }

.parte1, .parte2, .parte3 {
  display: flex; }

.yo {
  background: #343a40;
  padding: 10px; }

.opcionesr {
  display: flex;
  background: #254f97;
  padding: 1.4vh;
  font-size: 24.5px;
  align-items: center;
  justify-content: center;
  align-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=menu.css.map */
